* {

  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: #EDEDED;
}

.container {
  width: 992px;
  height: 1630px;
  margin: 0 auto;
  display: flex;
}

.column {
  height: 100%;
}

.left {
  width: 30%;
  background-color: #405559;
  text-align: center;
  color: #EDEDED;
}

.right {
  width: 70%;
  background-color: #EDEDED;
  text-align: justify;
}

i {
  height: 40px;
  width: 50px;
  margin-left: -10px;
  text-align: center;
}

header, footer {
  margin-top: 50px;
  background-color: #68868C;
  padding: 30px 0 30px 30px;
  color: #EDEDED;
}

header {
  margin-top: 70px;
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  width: 70%;
margin-top: 30px;
}

.info {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.row {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  display: flex;

}

.icons {
  width: 15%;
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
  text-align: center;
}

.data {
  width: 80%;
  display: inline-block;
  padding-left: 10px;
}


.data span {
  line-height: 40px;
}

.name span {
  line-height: normal;
}

.small {
  font-size: 14px;
}

.details {
  color: #405559;
  padding-left: 30px;
  padding-right: 30px;
}

.details i {
  margin-left: -25px;
}

.details section {
    margin-top: 20px;
}

.details p {
  padding-left: 35px;
}

.skills p {
  text-align: left;
}

.details ul {
  padding-left: 50px;
  list-style-position: inside;
}

.details i {
  margin-top: 10px;
  vertical-align: middle;
}

.details h1 {

  display:inline-block;
  vertical-align: text-top;
  margin-bottom: 0px;
}

.details h2 {
  margin-top: 20px;
  font-size: 17px;
  padding-left: 35px;
}

.skills span, .hobby span {
  font-size: 20px;
  font-weight: bold;
}



footer {
  padding: 10px 30px 10px 30px;
}
footer p {
  font-size: 10px;
  text-align: justify;

}
